table.statistic {
	height: 55px;
}

table.statistic td:first-child {
	width: 65px;
	text-align: right;
	vertical-align: middle;
}

table.statistic td:nth-child(2) {
	width: 55px;
	text-align: center;
	vertical-align: middle;
}

table.statistic td:nth-child(2) img {

}

table.statistic td:last-child {
	vertical-align: middle;
}

div.row.equipment {
	padding-top: 20px;
}

div.row.equipment p {
	padding: 0px;
}

table.lifestyle_skills {
	width: auto !important;
}

table.lifestyle_skills td.icon {
	width: 50px;
}

.edit_metal_maiden legend {
	color: #ffffff;
}

.tank_spreadsheet tr:nth-of-type(odd)
{
	background-color: #272727;
}

.tank_spreadsheet tr:nth-of-type(even)
{
	background-color: #404040;
}

.tank_spreadsheet th
{
	color: #ffffff;
}

.tank_spreadsheet a {
	color: #ffffff;
}

.col-lg-12.tank_req {
	margin-bottom: 15px;
}

.tank_req.tank {
	text-align: center;
	display: inline-block;
	color: white;
}

.col-lg-1.tank_req p.level {
	border-width: 0 0 1px 0;
	border-style: solid;
}

.col-lg-1.tank_req {
	position: relative;
	min-height: 105px;
}

.col-lg-1.tank_req p.quantity {
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-bottom: 0;
}

.col-lg-1.tank_req img {
	text-align: center;
	display: inline-block;
}

div.tank_req.tank div.tank_portrait {
	position: relative;
}

div.tank_req.tank div.tank_portrait img.tech {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
}

img.tank_req_item {
	position: absolute;
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

img.tank_req {
	height: 150px;
}

.tank_req img.slot {
	height: 1.5em;
}

.tank_req div.equipment {
	position: relative;
	min-height: 70px;
}

.tank_req p.item_rank {
	position: absolute;
	left: 10%;
	margin: 0;
	padding: 0;
	top: 0;
	direction: rtl;
	font-size: x-large;
	color: gold;
	text-shadow: rgb(0, 0, 0) -2px 1px 0px;
	font-weight: bold;
}

.tank_req img.item_slot {
	position: absolute;
	top: 2em;
	height: 30px;
	left: 10%;
}

span.label.label-danger.tank_req {
	margin-bottom: 15px;
	display: inline-block;
	font-size: 90%;
	padding: 0.4em 0.6em;
}