table.statistic {
	height: 55px;
}

table.statistic td:first-child {
	width: 65px;
	text-align: right;
	vertical-align: middle;
}

table.statistic td:nth-child(2) {
	width: 55px;
	text-align: center;
	vertical-align: middle;
}

table.statistic td:nth-child(2) img {

}

table.statistic td:last-child {
	vertical-align: middle;
}

div.row.equipment {
	padding-top: 20px;
}

div.row.equipment p {
	padding: 0px;
}

table.lifestyle_skills {
	width: auto !important;
}

table.lifestyle_skills td.icon {
	width: 50px;
}

.view_tank button {
	background-color: #1D6088;
	margin-bottom: 25px;
	color: #ffffff;
}

.view_tank pre.wiki {
	background-color: #06334E;
	color: #ffffff;
}