#metal_maidens_index .nation		{
	text-align: center;
	font-size: x-large;
	background-color: #000000;
}
#metal_maidens_index .nation img	{ width: 75px; }

#metal_maidens_index img.portrait	{
	border: 1px ridge #223F58;
	height: 100px;
}
#metal_maidens_index img.portrait.blue		{ border: 1px ridge #2058FF; }
#metal_maidens_index img.portrait.purple	{ border: 1px ridge #C500C5; }
#metal_maidens_index img.portrait.gold		{ border: 1px ridge gold; }

#metal_maidens_index .metal_maiden_block {
	text-align: center;
	min-height: 156px;
}

#metal_maidens_index .category-block:first-child	{ border-top: 1px solid #000000; }
#metal_maidens_index .category-block				{
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}
#metal_maidens_index .category-block div.category-icon	{ text-align: center; }
#metal_maidens_index .category-block img.category-icon	{
	height: 50px;
	margin: 20px 0;
}
#metal_maidens_index .category-block.atg	{ background-color: rgba(255, 120, 255, 0.05); }
#metal_maidens_index .category-block.ht		{ background-color: rgba(120, 5, 255, 0.05); }
#metal_maidens_index .category-block.lav	{ background-color: rgba(25, 255, 255, 0.05); }
#metal_maidens_index .category-block.lt		{ background-color: rgba(10, 170, 0, 0.05); }
#metal_maidens_index .category-block.mt		{ background-color: rgba(255, 255, 30, 0.05); }
#metal_maidens_index .category-block.spg	{ background-color: rgba(255, 80, 0, 0.05); }

#metal_maidens_index .metal_maiden_block p			{ padding-top: 6px; }
#metal_maidens_index .metal_maiden_block p.blue		{ color: #88CDFF; }
#metal_maidens_index .metal_maiden_block p.purple	{ color: #DA24DA; }
#metal_maidens_index .metal_maiden_block p.gold		{ color: #FFB426; }
#metal_maidens_index .metal_maiden_block a:hover	{ text-decoration: none; }
