table.metal_maidens_index, table.metal_maidens_index th, table.metal_maidens_index td
{
	border: 1px solid black;
}

table.metal_maidens_index
{
	width: 1000px;
	margin: auto;
}

table.metal_maidens_index th
{
	background-color: black;
	font-size: 135%;
}

table.metal_maidens_index td
{
	width: 12.5%;
	text-align: center;
	padding: 15px 0;
}

td.atg	{ background-color: rgba(255, 120, 255, 0.05); }
td.ht	{ background-color: rgba(120, 5, 255, 0.05); }
td.lav	{ background-color: rgba(25, 255, 255, 0.05); }
td.lt	{ background-color: rgba(10, 170, 0, 0.05); }
td.mt	{ background-color: rgba(255, 255, 30, 0.05); }
td.spg	{ background-color: rgba(255, 80, 0, 0.05); }

table.metal_maidens_index td a.blue		{ color: #6495ed; }
table.metal_maidens_index td a.purple	{ color: #9370db; }
table.metal_maidens_index td a.gold		{ color: gold; }