body {
	background-color: #1c1c1c;
	color: #ffffff;
}

.sidebar {
	background-color: #222222;
	border-right: 1px solid #000000;
}

ol.breadcrumb {
	background-color: #009688;
}

ol.breadcrumb li a {
	color: #000000;
}

ol.breadcrumb li.active {
	color: #FFFFFF;
}

button {
	background-color: #1D6088;
	margin-bottom: 25px;
	color: #ffffff;
}

pre.wiki {
	background-color: #06334E;
	color: #ffffff;
}